.codenav_hide_scroll {
  overflow: hidden;
}

.codenav_word_split span {
  cursor: pointer;
}
.codenav_highlight {
  background-color: #ffa;
}

.codenav_highlight_sticky {
  background-color: #88ffb8;
}

.codenav_ignore {
  cursor: text !important;
}

.codenav_search_results {
  border-top: 2px solid #000;
  padding: 20px;
  background-color: #fff;

  width:100%;
  position: fixed;
  bottom:0;
  height: 300px;

  overflow-y: scroll;
}

.codenav_search_results_highlight {
  background-color: #88ffb8;
  cursor: pointer;
}

.codenav_search_x {
  font-size: 20px;
  font-weight: bold;
  background-color: #ccc;
  padding-left: 5px;
  padding-right: 5px;

  margin-top: -13px;
  margin-left: 9px

  position: relative;
  float: right;

  cursor: pointer;
}

.codenav_blob_wrapper {
  overflow-y: scroll !important;
}

.codenav_scroll_indicator {
  width: 1%;

  vertical-align: top;
  text-align: right;
  /*border-left: 1px solid #e5e5e5;*/

  line-height: 1;
}

.codenav_scroll_indicator_mark {
  position: absolute;

  background-color: #ffa;
  border: 1px solid #909090;
  width: 1%;
  height: 11px;

  float: right;

  cursor: pointer;
}

.codenav_search_results h1 {
   text-align:center;
}
